@font-face {
  font-family: "Poppins-Bold";
  src: url("../Assets//Fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Inconsolata-Regular";
  src: url("../Assets//Fonts/Inconsolata-Regular.ttf");
}

:root {
  font-family: "Poppins-Bold";
}
